/* Magic Mirror Module: MMM-Countdown2
 *
 * By Brendan Keyport <brendan.keyport@gmail.com>
 * Original work by Boaz - see js file for his work URL. 
 *  
 */

.MMM-CountDown2 .textWrapper {
	color: var(--color-text-dimmed);
	font-size: 1.5rem;
	line-height: 1.225;
}

.MMM-CountDown2 .timeWrapper {
	color: var(--color-text-bright);
	font-size: 1.5rem;
	line-height: 1.225;
}
